.style{
    border: 2px solid lightblue;
    margin: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px blue;
}
.style button{
    font-size: 20px;
    color: white;
}
.style h4{
    color: green;
    font-style: italic;
}
.style img{
    padding-bottom: 20px;
}