.modify{
    width: 700px;
    box-shadow: 0px 0px 10px blue;
    padding: 30px;
    margin: 0 auto;
    border-radius: 10px;

}
.modify input{
    width: 100%;
    padding: 5px;
}
.knock{
    width: 650px;
    margin: 0 auto;
}
.knock button{
    width: 100%;
    font-weight: 700;
    border-radius: 5px;
}
.knock img{
    width: 50px;
    margin-right: 10px;
}